<!-- <select name="zone_id" id="input-payment-zone" class="form-control"> -->
   <option value="" data-sigla="none" selected="selected">--- Selecione ---</option>
   <option data-sigla="AC" value="440">Acre</option>
   <option data-sigla="AL" value="441">Alagoas</option>
   <option data-sigla="AP" value="442">Amapá</option>
   <option data-sigla="AM" value="443">Amazonas</option>
   <option data-sigla="BA" value="444">Bahia</option>
   <option data-sigla="CE" value="445">Ceará</option>
   <option data-sigla="DF" value="446">Distrito Federal</option>
   <option data-sigla="ES" value="447">Espírito Santo</option>
   <option data-sigla="GO" value="448">Goiás</option>
   <option data-sigla="MA" value="449">Maranhão</option>
   <option data-sigla="MT" value="450">Mato Grosso</option>
   <option data-sigla="MS" value="451">Mato Grosso do Sul</option>
   <option data-sigla="MG" value="452">Minas Gerais</option>
   <option data-sigla="PA" value="453">Pará</option>
   <option data-sigla="PB" value="454">Paraíba</option>
   <option data-sigla="PR" value="455">Paraná</option>
   <option data-sigla="PE" value="456">Pernambuco</option>
   <option data-sigla="PI" value="457">Piauí</option>
   <option data-sigla="RJ" value="458">Rio de Janeiro</option>
   <option data-sigla="RN" value="459">Rio Grande do Norte</option>
   <option data-sigla="RS" value="460">Rio Grande do Sul</option>
   <option data-sigla="RO" value="461">Rondônia</option>
   <option data-sigla="RR" value="462">Roraima</option>
   <option data-sigla="SC" value="463">Santa Catarina</option>
   <option data-sigla="SP" value="464">São Paulo</option>
   <option data-sigla="SE" value="465">Sergipe</option>
   <option data-sigla="TO" value="466">Tocantins</option>
<!-- </select> -->
<!-- <script>document.getElementsByName("zone_id")[0].value = "<?php echo $zone_id ?>"</script> -->